body,
html {
  margin: 0;
  padding: 0;
}
body {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
div {
  display: inline-block;
  height: 50px;
  margin: 10px;
  background: #eee;
  border: 2px solid #999;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .s-1 {
    width: calc(8.333333333333332% - 20px);
  }
  .s-2 {
    width: calc(16.666666666666664% - 20px);
  }
  .s-3 {
    width: calc(25% - 20px);
  }
  .s-4 {
    width: calc(33.33333333333333% - 20px);
  }
  .s-5 {
    width: calc(41.66666666666667% - 20px);
  }
  .s-6 {
    width: calc(50% - 20px);
  }
  .s-7 {
    width: calc(58.333333333333336% - 20px);
  }
  .s-8 {
    width: calc(66.66666666666666% - 20px);
  }
  .s-9 {
    width: calc(75% - 20px);
  }
  .s-10 {
    width: calc(83.33333333333334% - 20px);
  }
  .s-11 {
    width: calc(91.66666666666666% - 20px);
  }
  .s-12 {
    width: calc(100% - 20px);
  }
}
@media (min-width: 769px) {
  .m-1 {
    width: calc(8.333333333333332% - 20px);
  }
  .m-2 {
    width: calc(16.666666666666664% - 20px);
  }
  .m-3 {
    width: calc(25% - 20px);
  }
  .m-4 {
    width: calc(33.33333333333333% - 20px);
  }
  .m-5 {
    width: calc(41.66666666666667% - 20px);
  }
  .m-6 {
    width: calc(50% - 20px);
  }
  .m-7 {
    width: calc(58.333333333333336% - 20px);
  }
  .m-8 {
    width: calc(66.66666666666666% - 20px);
  }
  .m-9 {
    width: calc(75% - 20px);
  }
  .m-10 {
    width: calc(83.33333333333334% - 20px);
  }
  .m-11 {
    width: calc(91.66666666666666% - 20px);
  }
  .m-12 {
    width: calc(100% - 20px);
  }
}
